<header>

   
    <h1>Devoralibros</h1>
    <img src="https://static.vecteezy.com/system/resources/previews/009/665/381/original/white-book-pages-file-png.png">
  
    
    <nav *ngIf="!this.userService.login; else login">
        <a routerLink="">Home</a>
        <a routerLink="register">Register</a>
        <a routerLink="login">Login</a>
    </nav>

    <ng-template #login>
        <a routerLink="profile">Profile</a>
        <a routerLink="books">Books</a>
        <a routerLink="addbook">AddBook</a>
        <a routerLink="updatebook">UpdateBook</a>
    </ng-template>

</header>