<div class="buscador">

  <input type="text" placeholder="Buscar libro..." [(ngModel)]="busqueda">

  <button (click)="filterBooks()">Buscar</button>

</div>

<div class="main-container" *ngIf="filteredBooks.length > 0; else noHay">

  <div class="card" *ngFor="let book of filteredBooks">

    <app-cards [book]="book" (libro)="borrarLibro($event)"></app-cards>

  </div>

</div>

<ng-template #noHay>

  <div class="main-container">
    <h2 class="text-danger">No hay libros</h2>
  </div>

</ng-template>

<!-- <aside class="aside1">

<form class="newcard" action="">
    <h1>Añadir nuevo libro</h1>
    <div class="form1">
        <input type="text" placeholder="Título" #title>
        <input type="text" placeholder="Estilo de tapa" #type>
        <input type="text" placeholder="Autor" #author>
        <input type="text" placeholder="Precio" #price>
        <input type="url" placeholder="Foto" #photo>
        <input type="text" placeholder="Código de libro" #id>
        <input type="text" placeholder="Código de Usuario" #id2>

        <button type="button" (click)="nuevoLibro(title.value, type.value, author.value, price.value, photo.value, id.value, id2.value)">Enviar</button>
    </div>
</form>

</aside> -->
