<aside>

  <h1>LogIn</h1>
  
  <form [formGroup]="formulario" (ngSubmit)="onSubmit()" class="container">

    <input type="email" email placeholder="Email" name="correo" [formControlName]="'correo'" [ngClass]="{}" required>
    <div *ngIf="f['correo'].errors" class="errors">
      <p *ngIf="f['correo'].errors?.['required']">El correo es obligatorio</p>
      <p *ngIf="f['correo'].errors?.['correo']">El email es incorrecto</p>
    </div>
    <input type="password" placeholder="Contraseña" name="passw" [formControlName]="'passw'" required>
    <div *ngIf="f['passw'].errors" class="invalid-feedback">
      <p *ngIf="f['passw'].errors">La contraseña es obligatoria</p>
    </div>
    <button ng-click="onSubmit()">Enviar</button>


  </form>
  
</aside>