<div class="container">
    <h1>Registrate</h1>
    <form>
      <label for="nombre">Nombre y apellidos:</label>
      <input type="text" id="nombre" name="nombre" placeholder="Aqui tu nombre" required>

      <label for="nombre">Apellidos:</label>
      <input type="text" id="nombre" name="nombre" placeholder="Aqui tus apellidos" required>
      
      <label for="email">Email:</label>
      <input type="email" id="email" name="email" placeholder="Aqui tu email" required>

      <label for="email">URL:</label>
      <input type="email" id="email" name="email" placeholder="Aqui tu URL" required>

      <label for="email">Contraseña:</label>
      <input type="email" id="email" name="email" placeholder="Aqui tu contraseña" required>
      
      <label for="contrasena">Repetir Contraseña:</label>
      <input type="password" id="contrasena" name="contrasena" placeholder="Aqui tu contraseña" required>
      
      <button type="submit">Registrarse</button>
    </form>
</div>

