<aside class="aside1">

    <form class="newcard" (submit)="updateBook(title.value, type.value, author.value, +price.value, photo.value, id.valueAsNumber)">

      <h1>Editar libro</h1>

      <div class="form1">
        <input type="number" placeholder="ID del libro a editar" #id>
        <input type="text" placeholder="Título" #title>
        <input type="text" placeholder="Estilo de tapa" #type>
        <input type="text" placeholder="Autor" #author>
        <input type="number" placeholder="Precio" #price>
        <input type="url" placeholder="Foto" #photo>
        <button type="submit">Enviar</button>
      </div>

    </form>
    
  </aside>